In [1]:
from __future__ import print_function

In [2]:
from collections import defaultdict

In [19]:
import numpy as np
import sys 
import thinkstats2
import nsfg #module which can read dct files.

In [4]:
df = nsfg.ReadFemPreg()

In [22]:
df.head()

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875

In [25]:
pregordr = df['pregordr']

In [26]:
type(pregordr)

pandas.core.series.Series

In [30]:
print(pregordr) #print a series

0        1
1        2
2        1
3        2
4        3
5        1
6        2
7        3
8        1
9        2
10       1
11       1
12       2
13       3
14       1
15       2
16       3
17       1
18       2
19       1
20       2
21       1
22       2
23       1
24       2
25       3
26       1
27       1
28       2
29       3
        ..
13563    2
13564    3
13565    1
13566    1
13567    1
13568    2
13569    1
13570    2
13571    3
13572    4
13573    1
13574    2
13575    1
13576    1
13577    2
13578    1
13579    2
13580    1
13581    2
13582    3
13583    1
13584    2
13585    1
13586    2
13587    3
13588    1
13589    2
13590    3
13591    4
13592    5
Name: pregordr, dtype: int64

In [31]:
pregordr[0]

1

In [32]:
pregordr[2:5]

2    1
3    2
4    3
Name: pregordr, dtype: int64

In [35]:
pregordr = df.pregordr #dot notation

In [34]:
pregordr

0        1
1        2
2        1
3        2
4        3
5        1
6        2
7        3
8        1
9        2
10       1
11       1
12       2
13       3
14       1
15       2
16       3
17       1
18       2
19       1
20       2
21       1
22       2
23       1
24       2
25       3
26       1
27       1
28       2
29       3
        ..
13563    2
13564    3
13565    1
13566    1
13567    1
13568    2
13569    1
13570    2
13571    3
13572    4
13573    1
13574    2
13575    1
13576    1
13577    2
13578    1
13579    2
13580    1
13581    2
13582    3
13583    1
13584    2
13585    1
13586    2
13587    3
13588    1
13589    2
13590    3
13591    4
13592    5
Name: pregordr, dtype: int64

In [38]:
df.birthwgt_oz

0        13.0
1        14.0
2         2.0
3         0.0
4         3.0
5         9.0
6         9.0
7         6.0
8         9.0
9        10.0
10       13.0
11        0.0
12        0.0
13        NaN
14        NaN
15       11.0
16        8.0
17        5.0
18        NaN
19       12.0
20        3.0
21        9.0
22        NaN
23       12.0
24        6.0
25       13.0
26        2.0
27        2.0
28        1.0
29        7.0
         ...
13563    11.0
13564    10.0
13565     2.0
13566     8.0
13567     NaN
13568     NaN
13569    13.0
13570    11.0
13571     0.0
13572    13.0
13573     9.0
13574     2.0
13575     NaN
13576     7.0
13577     NaN
13578     0.0
13579     0.0
13580     NaN
13581     6.0
13582     NaN
13583     NaN
13584     6.0
13585     NaN
13586     NaN
13587     NaN
13588     3.0
13589     NaN
13590     NaN
13591     8.0
13592     8.0
Name: birthwgt_oz, dtype: float64

In [39]:
df.totalwgt_lb

0        8.8125
1        7.8750
2        9.1250
3        7.0000
4        6.1875
5        8.5625
6        9.5625
7        8.3750
8        7.5625
9        6.6250
10       7.8125
11       7.0000
12       4.0000
13          NaN
14          NaN
15       7.6875
16       7.5000
17       6.3125
18          NaN
19       8.7500
20       8.1875
21       5.5625
22          NaN
23       6.7500
24       7.3750
25       6.8125
26       8.1250
27       7.1250
28       6.0625
29       7.4375
          ...
13563    7.6875
13564    7.6250
13565    8.1250
13566    7.5000
13567       NaN
13568       NaN
13569    5.8125
13570    6.6875
13571    6.0000
13572    5.8125
13573    6.5625
13574    6.1250
13575       NaN
13576    6.4375
13577       NaN
13578    6.0000
13579    7.0000
13580       NaN
13581    6.3750
13582       NaN
13583       NaN
13584    6.3750
13585       NaN
13586       NaN
13587       NaN
13588    6.1875
13589       NaN
13590       NaN
13591    7.5000
13592    7.5000
Name: totalwgt_lb, dtype: float64

In [40]:
df.outcome.value_counts().sort_index()

1    9148
2    1862
3     120
4    1921
5     190
6     352
Name: outcome, dtype: int64

In [41]:
df.birthwgt_lb.value_counts(sort=False).

0.0        8
1.0       40
2.0       53
3.0       98
4.0      229
5.0      697
6.0     2223
7.0     3049
8.0     1889
9.0      623
10.0     132
11.0      26
12.0      10
13.0       3
14.0       3
15.0       1
Name: birthwgt_lb, dtype: int64